<form action="/productos" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" />
  
    <label for="price">Price</label>
    <input type="number" name="price" id="price" />
  
    <label for="thumbnail">Thumbnail</label>
    <input type="text" name="thumbnail" id="thumbnail" />
    
    <button>Enviar</button>
  </form> 